{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
echo "No support"
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
brew install cmake

brew tap homebrew/cask-fonts
brew install --cask font-iosevka-ss08

brew install tmux ranger
brew install ripgrep tokei bat exa
{{ end -}}
